<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.Dal.comm.mapper.FileMapper">

    <!-- bi_tb 테이블 전체 컬럼 -->
    <sql id="fileColumns">
        bi_id,
        bard_id,
        bi_ori_nm,
        bi_nm,
        bi_size,
        bi_att,
        create_date,
        delete_date
    </sql>

    <!-- 파일 정보 저장 -->
    <insert id="saveAll" parameterType="list">
        insert into bi_tb (
            <include refid="fileColumns"/>
        ) values
        <foreach item="file" collection="list" separator=",">
        (
            #{file.biId},
            #{file.bardId},
            #{file.biOriNm},
            #{file.biNm},
            #{file.biSize},
            1,
            NOW(),
            NULL
        )
        </foreach>
    </insert>

    <!-- 파일 리스트 조회 -->
    <select id="findAllByPostId" parameterType="Integer" resultType="kr.co.Dal.comm.model.FileResponse">
        select
            <include refid="fileColumns"/>
        from
            bi_tb
        where
            bi_att = 1
            and bard_id = #{value}
        order by
            bi_id
    </select>

    <!-- 파일 리스트 조회(물리적 삭제를 위한) -->
    <select id="findAllByIds" parameterType="list" resultType="kr.co.Dal.comm.model.FileResponse">
        select
            <include refid="fileColumns"/>
        from
            bi_tb
        where
            bi_att = 1
            and bi_id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
                #{id}
            </foreach>
        order by
            bi_id
    </select>

    <!-- 파일 삭제(DB 삭제를 위한) -->
    <delete id="deleteAllByIds" parameterType="list">
        update bi_tb
        set
            bi_att = 0,
            deleted_date = NOW()
        where
            bi_id in
            <foreach item="id" collection="list" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>



</mapper>